<div *ngIf="product; else Loading" class="container">
    <div class="card my-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="product.image" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{product.model}}</h5>
                    <small class="text-secondary">by {{product.manufacturer}}</small>
                    <p class="card-text">{{product.price | currency}}</p>
                    <p class="card-text">
                        {{product.description}}
                    </p>
                    <pre><code>{{product.specs | json}}</code></pre>
                    
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #Loading>
    <div class="loader d-flex align-items-center justify-content-center">
        <h2>Loading...</h2>
    </div>
</ng-template>


