<div *ngIf="products; else Loading">
    <div class="m-3">
        <h2>Popular Mobiles</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div class="col" *ngFor="let product of products">
                <app-product [item]="product"
                    [isAddedToCart]="cart.isInCart(product.id)"
                    (cartClicked)="changeCart(product.id)"></app-product>
            </div>
        </div>
    </div>
</div>

<ng-template #Loading>
    <div class="loader d-flex align-items-center justify-content-center">
        <h2>Loading...</h2>
    </div>
</ng-template>
