<div class="card my-2 shadow-sm">
  <img [src]="product.image" class="card-img-top" alt="loading">
  <div class="card-body">
    <a [routerLink]="['/products', product.id]" class="link-primary">
      <h5 class="card-title">{{product.model}}</h5>
    </a>
    <div class="d-flex justify-content-between">
      <span class="card-text">{{product.price | currency}}</span>
      <a class="btn" [ngClass]="isAddedToCart ? 'btn-danger' : 'btn-success'" (click)="changeCart()">
        {{isAddedToCart ? 'Remove' : 'Add to Cart'}}
      </a>
    </div>
  </div>
</div>
